Source: gxde-kwin
Section: devel
Priority: optional
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=9),
 cmake,
 qtbase5-dev,
 qtbase5-private-dev,
 libqt5x11extras5-dev,
 libxcb1-dev,
 libkf5globalaccel-dev,
 libkf5windowsystem-dev,
 libkf5coreaddons-dev,
 kwin-dev,
 libkf5config-dev,
 libdtkcore-dev,
 libgsettings-qt-dev,
 libfontconfig1-dev,
 libfreetype6-dev,
 libglib2.0-dev,
 libxrender-dev,
 libmtdev-dev,
 qttools5-dev-tools,
 deepin-gettext-tools,
 extra-cmake-modules,
 libkdecorations2-dev
Standards-Version: 3.9.8
Homepage: https://gitee.com/GXDE-OS/gxde-kwin

Package: gxde-kwin
Architecture: any
Replaces: dde-kwin
Conflicts: 
 dde-kwin, 
 deepin-kwin-common,
 deepin-kwin-data,
 deepin-kwin-dev,
 deepin-kwin-wayland,
 deepin-kwin-wayland-backend-drm,
 deepin-kwin-wayland-backend-fbdev,
 deepin-kwin-wayland-backend-virtual,
 deepin-kwin-wayland-backend-wayland,
 deepin-kwin-wayland-backend-x11,
 deepin-kwin-x11,
 libdeepin-kwineffects13,
 libdeepin-kwineffects14,
 libdeepin-kwinglutils13,
 libdeepin-kwinglutils14,
 libdeepin-kwinxrenderutils13,
 libdeepin-kwinxrenderutils14,
Provides: dde-kwin, deepin-kwin-x11, deepin-kwin-wayland
Depends: ${shlibs:Depends}, ${misc:Depends},
 kwin-x11, plasma-framework, libkf5globalaccel-bin,
 qml-module-qtquick-controls2, qml-module-qtquick-templates2,
 kwin-wayland
Description: KWin configures/plugins on the DDE
 Let kwin work well in the Deepin Desktop Environment.

Package: gxde-kwin-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: dde-kwin-dev
Conflicts: dde-kwin-dev
Provides: dde-kwin-dev
Description: Developer package of gxde-kwin
 Provide gxde-kwin plugin implementation basis files.
